@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.playfair-display-400 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-900 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.header {
    background-color: #F5F5F7;
    color: #000;
    padding: 1rem;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__title {
    font-size: 2rem;
    margin: 0;
}

.header__nav a {
    color: #000;
    text-decoration: none;
}

/* PC向けスタイル */
.navbar {
    width: 100%;
    background-color: #F7F7F9;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar__item {
    margin: 0 1rem;
}

.navbar__link {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.navbar__link:hover {
    background-color: #555;
}

/* スマホとタブレット向けスタイル */
@media (max-width: 1024px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navbar--open {
        display: flex;
    }

    .navbar__list {
        flex-direction: column;
        align-items: center;
    }

    .navbar__item {
        margin: 0.5rem 0;
    }

    .navbar__link {
        padding: 0.5rem;
    }

    .header__hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .header__bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 4px 0;
        transition: 0.3s;
    }
}

/* PC向けハンバーガーメニュー非表示 */
@media (min-width: 1025px) {
    .header__hamburger {
        display: none;
    }
}

/* リボンスタイル */
.ribbon {
    height: 45px;
    width: 100%;
    padding: 16px auto;
    background-color: #F7F7F9;
    text-align: center;
}

.ribbon__content {
    margin-top: 16px;
    margin-bottom: 16px;
    height: auto;
}

.ribbon__link {
    color: #000;
    margin: 0 auto;
    text-decoration: none;
}

/* モバイル向けスタイル強化 */
@media (max-width: 768px) {
    .header__title {
        font-size: 1.5rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    .navbar__link {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .navbar__item {
        margin: 0.3rem 0;
    }

    .ribbon__link {
        font-size: 0.8rem;
    }

    .header__hamburger {
        top: 12px;
        right: 0px;
    }

    .header__bar {
        width: 20px;
        height: 2px;
    }
}